#header_body {
    height: max(100vh, 100%);
    background-color: var(--headerColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#logo {
    width: 100px;
    height: 100px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

a {
    color: var(--headerFontColor);
    font-family: PT-bold;
    font-size: 24px;
    text-decoration: none;
    margin: 16px;
}