body {
    background-color: var(--dark);
    font-family: PT;
}

.upperPart {
    width: 90%;
}

.backlogName {
    margin-left: 35px;
}

.backlogBigContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.backlogContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: var(--medium);
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
}

.memberImg {
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin-top: 5px;
    border-radius: 100%;
    border: 1px solid lightgrey;
}

.big {
    height: 60px;
    width: 60px;
}

.taskMain {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 4px 0 4px 0;
    border: 1px solid;
    border-radius: 5px;
}

.taskTop {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.taskBottom {
    display: flex;
    flex-direction: row-reverse;
}

.taskDetails {
    flex: 1;
    background-color: var(--light);
    padding-left: 10px;
    padding-top: 10px;
    overflow: hidden;
}

.innerTaskDetails {
    flex: 1;
    padding-left: 10px;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 500px;
    height: 20px;
}

.taskUsers {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.taskCategory {
    font-size: 20px;
    font-weight: bold;
}

.category {}

#detailsWindow {
    background-color: lightgrey;
    height: 600px;
    width: 700px;
    z-index: 2;
    position: relative;
    animation: zoom ease-in-out 225ms;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
}

#backgroundDetails {
    height: 100%;
    width: 90%;
    background-color: #000000cc;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade_in ease-in-out 225ms;
}

.fadeIn {
    animation: fade_in 500ms linear forwards;
}

@keyframes fade_in {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0px);
    }
}

.fadeOut {
    animation: fade_in 500ms linear backwards;
    visibility: hidden;
}

@keyframes fade_out {
    from {
        opacity: 100%;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(500px);
    }
}

#userDetailed {
    width: auto;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.memberInfo {
    display: flex;
    width: 100%;
    align-items: center;
}

.infoUser {
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
    margin-left: 10px;
    box-shadow: 3px -1px 3px 1px;
}

#categoryInfo {
    font-size: 30px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#fullText {
    height: 100%;
    margin: 5px;
    overflow-wrap: break-word;
    border: 3px solid;
    border-radius: 5px;
}

p {
    margin: 10px;
    text-align: inherit;
}

h2 {
    margin-left: 5px;
}

hr {
    border: 1px solid black;
    width: 100%;
}

.editBtn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.editAddBtn {
    position: absolute;
    right: 70px;
    top: 10px;
}

.deleteUser {
    margin-left: 10px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 4px;
}

.deleteUser:hover {
    cursor: pointer;
}

.prioEdit {
    display: flex;
    justify-content: center;
    align-items: center;
}