.upperPart {
    width: 90%;
}

.backlogName {
    margin-left: 35px;
}

.backlogDefinition {
    margin-left: 35px;
    color: blue;
}

.titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-left: 40px;
    margin-top: 100px;
    color: blue;
}

.backlogBigContainer {
    width: 90%;
}


.backlogContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 35px;
    margin-left: 10px;
}

.memberColor {
    width: 99%;
    height: 100px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 10px;
}

.memberBox {
    width: 99%;
    height: 95px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.memberImg {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid lightgrey;
}

.memberProfil {
    height: 70px;
    width: 200px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.memberImgAndProfil {
    margin-left: 20px;
    display: flex;
}

.category {
    margin-right: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: lightgrey 1px solid;
    border-radius: 10px;
    transition: ease-in-out 225ms;
    padding: 5px;

}

.category:hover {
    cursor: pointer;
    border: lightgrey 1px solid;
    border-radius: 10px;
    background-color: #0072f53d;
}

.details {
    margin-right: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: lightgrey 1px solid;
    border-radius: 10px;
    transition: ease-in-out 225ms;
    padding: 5px;
}

.details:hover {
    cursor: pointer;
    border: lightgrey 1px solid;
    border-radius: 10px;
    background-color: #0072f53d;
}

.backlogContainer{
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        height: 100%;
        margin-top: 35px;
}

