body {
    background-color: var(--dark);
    font-family: PT;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.legendContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: var(--medium);
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
}

.legendBox {
    width: 16%;
    height: 80px;
    color: var(--mainFontColor);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 8px;
    border-radius: 8px;
}

.helpImg {
    max-width: 80%;
    max-height: 400px;
    margin: 20px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media screen and (max-width: 560px) {
    .legend {
        flex-direction: column;
    }
    .legendBox {
        width: 100%
    }
}