@font-face {
    font-family: PT;
    src: url("../ressources/fonts/PTSans-Regular.ttf");
}

@font-face {
    font-family: PT-bold;
    src: url("../ressources/fonts/PTSans-Bold.ttf")
}

:root {
    --joinblue: #1E3190;
    --fontsize: 18px;
    --dark: rgb(82, 82, 82);
    --medium: rgb(95, 95, 95);
    --light: rgb(155, 155, 155);
    --headerColor: rgb(48, 48, 48);
    --headerFontColor: white;
    --mainFontColor: black;
    --dropdown: gray;
    --prio1: rgba(98, 35, 100, 0.5);
    --prio2: rgba(253, 100, 100, 0.5);
    --prio3: rgba(252, 211, 134, 0.5);
    --prio4: rgba(131, 224, 131, 0.5);
    --prio5: rgba(131, 133, 224, 0.5);
}


/* --prio2: rgba(253, 100, 100, 0.286);
--prio3: rgba(252, 211, 134, 0.525);
--prio4: rgba(131, 224, 131, 0.341); */

body {
    margin: 0;
    display: flex;
}

header {
    width: max(10vw, 75px);
}

h1 {
    font-family: PT-bold;
    color: var(--mainFontColor);
}

.hide {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.box-shadow {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.prio1 {
    background-color: var(--prio1);
}

.prio2 {
    background-color: var(--prio2);
}

.prio3 {
    background-color: var(--prio3);
}

.prio4 {
    background-color: var(--prio4);
}

.prio5 {
    background-color: var(--prio5);
}

.dark {
    color: var(--dark);
}