@font-face {
    font-family: PT;
    src: url("../ressources/fonts/PTSans-Regular.ttf");
}

@font-face {
    font-family: PT-bold;
    src: url("../ressources/fonts/PTSans-Bold.ttf")
}

:root {
    --joinblue: #1E3190;
    --fontsize: 18px;
    --dark: rgb(82, 82, 82);
    --medium: rgb(95, 95, 95);
    --light: rgb(155, 155, 155);
    --headerColor: rgb(48, 48, 48);
    --headerFontColor: white;
    --mainFontColor: black;
    --dropdown: gray;
    --prio1: rgba(98, 35, 100, 0.5);
    --prio2: rgba(253, 100, 100, 0.5);
    --prio3: rgba(252, 211, 134, 0.5);
    --prio4: rgba(131, 224, 131, 0.5);
    --prio5: rgba(131, 133, 224, 0.5);
}

.darkmode {
    display: block;
}

.whitemode {
    display: none;
}

@media (max-width: 1200px) {
    #header_body {
        width: 100px;
    }
}

@media (max-width: 800px) {
    .standardSidebar {
        display: none;
    }
    .sidebarIcons {
        display: flex;
    }
    #header_body {
        width: 60px;
    }
}

@media (min-width: 801px) {
    .darkmode,
    .whitemode {
        display: none;
    }
}

body {
    margin: 0;
    display: flex;
}

header {
    width: max(10vw, 75px);
}

h1 {
    font-family: PT-bold;
    color: var(--mainFontColor);
}

h3 {
    margin: 0;
}

.hide {
    display: none !important;
}

.pointer {
    cursor: pointer
}

button {
    font-family: PT;
    cursor: pointer;
}

select {
    font-family: PT;
    cursor: pointer;
}

.box-shadow {
    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.prio1 {
    background-color: var(--prio1);
}

.prio2 {
    background-color: var(--prio2);
}

.prio3 {
    background-color: var(--prio3);
}

.prio4 {
    background-color: var(--prio4);
}

.prio5 {
    background-color: var(--prio5);
}

.dark {
    color: var(--dark);
}

#windowContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#mainWindow {
    width: 100%;
    position: relative;
}

.savescreen {
    width: 200px;
    height: 100px;
    color: var(--headerFontColor);
    font-family: PT-bold;
    font-size: var(--fontsize);
    background: var(--headerColor);
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-25%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.deleteDialog {
    width: 200px;
    height: 100px;
    color: var(--headerFontColor);
    font-family: PT-bold;
    font-size: var(--fontsize);
    background: var(--headerColor);
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-25%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.deleteBtns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#editWindow {
    width: max(300px, 50vh);
    z-index: 10;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--medium);
    font-size: 16px;
    transition: ease-in-out;
    animation: appear 225ms ease-in-out;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#editColor {
    border-radius: 8px;
}

#editContainer {
    display: flex;
    justify-content: space-between;
}

.editColumn {
    width: 50%;
}

.editLabel {
    margin-bottom: 4px;
}

.editField {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

#editDetails {
    height: 150px;
    resize: none;
}

#editUsers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    height: 150px;
}

.editUserPic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 4px 0 4px;
}

.editBtns {
    display: flex;
    justify-content: space-evenly;
}

.editBtn2 {
    font-family: PT;
    background-color: var(--light)
}

.editAddUserContainer {
    width: 32px;
    height: 32px;
    background: var(--light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editAddUser {
    width: 24px;
    height: 24px;
    background-image: url("../ressources/icons/add_black.svg");
}

.addUserContainer {
    width: 50px;
    height: 50px;
    background: var(--light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userpic {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin-right: 4px;
}

.buttonbox {
    display: flex;
    justify-content: space-evenly;
}

.button {
    width: 30%;
    font-family: PT;
    background: var(--light);
    border: none;
}

.user_area {
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-25%);
    z-index: 10;
    width: max(30%, 220px);
    background: var(--dark);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 8px 4px 8px;
    animation: fade_in 225ms ease-in-out;
}

@keyframes fade_in {
    from {
        opacity: 0%;
        transform: translateX(500px);
    }
    to {
        opacity: 100%;
        transform: translate(-25%);
    }
}

.usercard {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: flex-end;
    border-radius: 8px;
    margin: 4px;
}

.userinfo {
    width: 100%;
    border-radius: 8px;
    background: var(--light);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 4px 0 4px;
}

.userinfo:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 200ms ease-in-out;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 4px 1px lightgrey;
}

.userdata {
    width: 50%;
    height: 100%;
    padding: 4px 0 4px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.username {
    font-size: 18px;
    text-align: center;
}

.userdetail {
    text-align: center;
}

@media (max-width:650px) {
    #editWindow {
        width: 70%;
    }
    #editContainer {
        flex-direction: column;
    }
    .editColumn {
        width: 100%;
    }
}